---
import Layout from '../layouts/Layout.astro';
import Chart from '../components/Chart.svelte';
import Daisy from '../components/Daisy.svelte';
import RequirementExplorer from '../components/RequirementExplorer.svelte';
---

<Layout title="Welcome to Astro.">
	<main class="pl-20 pt-20">
		<!-- <Chart client:only /> -->
            <RequirementExplorer client:only />
	</main>
</Layout>

<style>

</style>
