---
import Layout from '../layouts/Layout.astro';
import Chart from '../components/Chart.svelte';
---

<Layout title="Welcome to Astro.">
	<main>
		<Chart client:only />
	</main>
</Layout>

<style>

</style>
